# Python cache files
__pycache__/
*.py[cod]

# Virtual environment folder
.venv/
venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Environment variables file (secrets)
.env

# Data files (large data, outputs, parquet, csv, etc.)
data/raw/*.parquet
data/processed/ml_dataset.parquet

# Logs and other temporary files
dags/logs*
*.log
*.tmp

# VSCode settings folder
.vscode/

# macOS system files
.DS_Store

# DuckDB app version (temporary)
app/streamlit_app_2.py